Repository benbenbang/types-confluent-kafka, pull requests merged in 2023-10, with the labels that each got.

#155 chore: clean up pytest markers in toml
  pyproject.toml
Labels: chore

#156 fix: Correct to/from dict callables for Avro serializers
  confluent_kafka-stubs/schema_registry/avro.pyi
Labels: fix

#157 release(versioning): update version to 1.0.1
  pyproject.toml
Labels: release
