Repository benbenbang/types-confluent-kafka, pull requests merged in 2023-08, with the labels that each got.

#1 feat: implement message and new xxx types
  confluent_kafka-stubs/cimpl.pyi
  tests/confluent_kafka_stubs/test_cimpli.py
Labels: feat

#5 feat: add types - topic partition and admin cli
  confluent_kafka-stubs/cimpl.pyi
Labels: feat

#7 feat: implement producer type
  confluent_kafka-stubs/cimpl.pyi
Labels: feat

#6 feat: implement consumer type
  .gitignore
  confluent_kafka-stubs/cimpl.pyi
  pyproject.toml
  tests/confluent_kafka_stubs/test_cimpli.py
Labels: feat

#13 refactor: enhance cimpl typings
  confluent_kafka-stubs/cimpl.pyi
Labels: refactor

#34 feat: implement admin group typings
  confluent_kafka-stubs/_util/conversion_util.pyi
  confluent_kafka-stubs/admin/_group.pyi
Labels: feat

#35 feat: implement admin scram typings
  confluent_kafka-stubs/admin/_scram.pyi
Labels: feat

#39 ci: add mypy test and semver
  .github/ISSUE_TEMPLATE.md
  .github/pull_request_template.md
  .github/workflows/mypy_tests.yml
  .releaserc.json
  confluent_kafka-stubs/cimpl.pyi
Labels: ci

#42 docs: update readme badges
  README.md
Labels: docs

#43 feat: implement admin client typings
  confluent_kafka-stubs/__init__.pyi
  confluent_kafka-stubs/admin/__init__.pyi
  confluent_kafka-stubs/admin/_acl.pyi
  confluent_kafka-stubs/cimpl.pyi
  pyproject.toml
Labels: feat

#45 ci: add pyright test and clean up ignores
  .github/workflows/main.yml
  .github/workflows/mypy-test.yml
  .github/workflows/pyright-test.yml
  confluent_kafka-stubs/__init__.pyi
  confluent_kafka-stubs/_util/validation_util.pyi
  confluent_kafka-stubs/admin/__init__.pyi
  confluent_kafka-stubs/admin/_acl.pyi
  confluent_kafka-stubs/admin/_scram.pyi
  poetry.lock
Labels: ci

#48 ci: add semantic release workflow
  .github/workflows/publish-pypi.yml
  .github/workflows/publish-testpypi.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .releaserc.json
  README.md
Labels: ci

#50 fix: update wrong branch in releaserc file
  .releaserc.json
Labels: ci

#61 ci: replace strategy & matrix by literal versions
  .github/workflows/release.yml
  .github/workflows/releaserc.yml
Labels: ci

#63 ci: revamp release(rc) processes
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/RELEASE_GUIDE.md
  .github/workflows/publish.yml
  .github/workflows/publishrc.yml
  .github/workflows/release.yml
  .github/workflows/releaserc.yml
  .github/workflows/versioning.yml
  .gitignore
  .releaserc.json
  README.md
  pyproject.toml
Labels: ci

#65 chore: update pypi index for release
  .github/workflows/publish.yml
Labels: ci

#67 ci: prepare devcontainer configs
  .devcontainer/bash_profile
  .devcontainer/devcontainer.json
  .devcontainer/starship.toml
  dev/README.md
  dev/requirements.txt
Labels: ops

#70 ci: add missing release yml
  .github/workflows/release.yml
Labels: ci

#71 release(versioning): update version to 0.2.0
  pyproject.toml
Labels: release

#73 ci: update title by gh in post-release stage
  .github/workflows/publish.yml
Labels: ci

#79 docs: update github repo settings templates
  .devcontainer/bash_profile
  .devcontainer/requirements.txt
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATES/bug.yml
  .github/ISSUE_TEMPLATES/config.yml
  .github/ISSUE_TEMPLATES/feature_request.yml
  .github/ISSUE_TEMPLATES/security.yml
  .github/SECURITY.md
Labels: documentation

#82 docs: fix links to repo & documentation
  README.md
  pyproject.toml
Labels: documentation

#85 feat: implement kafka generic errors
  confluent_kafka-stubs/error.pyi
  confluent_kafka-stubs/serialization/__init__.pyi
Labels: feat

#86 feat: implement avro error typings
  confluent_kafka-stubs/avro/error.pyi
Labels: feat

#87 feat: implement avro load schema funcs typings
  confluent_kafka-stubs/avro/load.pyi
Labels: feat, development

#88 feat: implement avro.serializer module
  confluent_kafka-stubs/avro/__init__.pyi
  confluent_kafka-stubs/avro/serializer/__init__.pyi
  confluent_kafka-stubs/avro/serializer/message_serializer.pyi
  confluent_kafka-stubs/schema_registry/schema_registry_client.pyi
Labels: feat

#89 feat: implement avro cached sc cli typings
  confluent_kafka-stubs/avro/__init__.pyi
  confluent_kafka-stubs/avro/cached_schema_registry_client.pyi
  confluent_kafka-stubs/avro/load.pyi
  confluent_kafka-stubs/avro/serializer/message_serializer.pyi
Labels: feat

#91 chore: update confluent_kafka dep with avro extension
  poetry.lock
  pyproject.toml
Labels: chore

#95 ci: fix bad condition in test typeings wf
  .github/workflows/typeing-tests.yml
Labels: ci

#93 refactor: remove unoverride docstrings
  confluent_kafka-stubs/error.pyi
Labels: refactor

#97 release(versioning): update version to 0.3.0
  pyproject.toml
Labels: release

#100 fix: update consumer poll signature
  confluent_kafka-stubs/cimpl.pyi
Labels: fix

#106 feat: implement schema registry module entrypoint & errors typings
  confluent_kafka-stubs/schema_registry/__init__.pyi
  confluent_kafka-stubs/schema_registry/error.pyi
Labels: feat

#109 build: add requests typings dep to dev
  poetry.lock
  pyproject.toml
Labels: development

#107 feat: implement schema registry client typings
  confluent_kafka-stubs/schema_registry/__init__.pyi
  confluent_kafka-stubs/schema_registry/schema_registry_client.pyi
Labels: feat

#111 refactor: clean up string type py2 compat
  confluent_kafka-stubs/_util/validation_util.pyi
  confluent_kafka-stubs/admin/__init__.pyi
  confluent_kafka-stubs/admin/_acl.pyi
  confluent_kafka-stubs/avro/cached_schema_registry_client.pyi
Labels: refactor

#112 feat: implement schema registry avro module typings
  confluent_kafka-stubs/schema_registry/avro.pyi
  confluent_kafka-stubs/serialization/__init__.pyi
Labels: feat

#114 feat: implement schema registry protobuf module typings
  confluent_kafka-stubs/schema_registry/__init__.pyi
  confluent_kafka-stubs/schema_registry/protobuf.pyi
Labels: feat

#116 refactor: ensure import future annotation
  confluent_kafka-stubs/__init__.pyi
  confluent_kafka-stubs/_model/__init__.pyi
  confluent_kafka-stubs/_util/__init__.pyi
  confluent_kafka-stubs/_util/conversion_util.pyi
  confluent_kafka-stubs/_util/validation_util.pyi
  confluent_kafka-stubs/admin/_config.pyi
  confluent_kafka-stubs/admin/_group.pyi
  confluent_kafka-stubs/admin/_metadata.pyi
  confluent_kafka-stubs/admin/_resource.pyi
  confluent_kafka-stubs/admin/_scram.pyi
  confluent_kafka-stubs/avro/cached_schema_registry_client.pyi
  confluent_kafka-stubs/avro/error.pyi
  confluent_kafka-stubs/avro/load.pyi
  confluent_kafka-stubs/avro/serializer/__init__.pyi
  confluent_kafka-stubs/avro/serializer/message_serializer.pyi
  confluent_kafka-stubs/cimpl.pyi
  confluent_kafka-stubs/deserializing_consumer.pyi
  confluent_kafka-stubs/error.pyi
  confluent_kafka-stubs/kafkatest/__init__.pyi
  confluent_kafka-stubs/kafkatest/verifiable_client.pyi
  confluent_kafka-stubs/kafkatest/verifiable_consumer.pyi
  confluent_kafka-stubs/kafkatest/verifiable_producer.pyi
  confluent_kafka-stubs/schema_registry/__init__.pyi
  confluent_kafka-stubs/schema_registry/error.pyi
  confluent_kafka-stubs/serialization/__init__.pyi
  confluent_kafka-stubs/serializing_producer.pyi
Labels: refactor

#118 docs: add package version compat table
  README.md
  compatibility.md
Labels: documentation

#119 release(versioning): update version to 0.4.0
  pyproject.toml
Labels: release

#123 feat: implement serialization module typings
  confluent_kafka-stubs/serialization/__init__.pyi
Labels: feat

#126 refactor: replace serialization ctx unkown type
  confluent_kafka-stubs/schema_registry/__init__.pyi
  confluent_kafka-stubs/schema_registry/avro.pyi
  confluent_kafka-stubs/schema_registry/json_schema.pyi
  confluent_kafka-stubs/schema_registry/protobuf.pyi
  confluent_kafka-stubs/serialization/__init__.pyi
Labels: refactor

#127 refactor: use relative import from `this` typing package
  confluent_kafka-stubs/admin/__init__.pyi
  confluent_kafka-stubs/avro/__init__.pyi
  confluent_kafka-stubs/avro/error.pyi
  confluent_kafka-stubs/avro/load.pyi
  confluent_kafka-stubs/avro/serializer/message_serializer.pyi
  confluent_kafka-stubs/error.pyi
  confluent_kafka-stubs/serialization/__init__.pyi
Labels: refactor

#129 feat: implement serializing producer typings
  confluent_kafka-stubs/serializing_producer.pyi
Labels: feat

#128 feat: implement deserializing consumer typings
  confluent_kafka-stubs/deserializing_consumer.pyi
Labels: feat

#132 chore: remove unused test file
  tests/confluent_kafka-stubs/test_cimpli.py
Labels: chore

#137 docs: update readme hyperlinks and conventional commits docs
  README.md
Labels: documentation

#138 release(versioning): update version to 0.5.0
  pyproject.toml
Labels: release

#139 build: remove unusd test deps
  .github/CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Labels: chore

#131 refactor!: enhance and fix cimpl typings
  confluent_kafka-stubs/cimpl.pyi
Labels: refactor

#142 refactor!: enhance and fix bugs in admin module
  confluent_kafka-stubs/admin/_acl.pyi
  confluent_kafka-stubs/admin/_config.pyi
  confluent_kafka-stubs/admin/_group.pyi
  confluent_kafka-stubs/admin/_metadata.pyi
  confluent_kafka-stubs/admin/_resource.pyi
  confluent_kafka-stubs/admin/_scram.pyi
Labels: refactor

#144 refactor!: enhance model mod typings
  confluent_kafka-stubs/_model/__init__.pyi
Labels: refactor

#146 refactor!: enhance avro mod typings
  confluent_kafka-stubs/avro/cached_schema_registry_client.pyi
  confluent_kafka-stubs/avro/error.pyi
  confluent_kafka-stubs/avro/serializer/message_serializer.pyi
Labels: refactor

#147 refactor: simplify literal constants
  confluent_kafka-stubs/avro/cached_schema_registry_client.pyi
Labels: refactor

#149 refactor: enhance and fix cimpl & admin
  confluent_kafka-stubs/_model/__init__.pyi
  confluent_kafka-stubs/admin/__init__.pyi
  confluent_kafka-stubs/admin/_metadata.pyi
  confluent_kafka-stubs/cimpl.pyi
Labels: refactor
