Repository benbenbang/types-confluent-kafka, pull requests merged in 2024-12, with the labels that each got.

#220 fix: rename parameter in Consumer.list_topics
  confluent_kafka-stubs/cimpl.pyi
Labels: feat, enhancement, triaged

#221 fix: make Consumer.poll timeout default to None
  confluent_kafka-stubs/cimpl.pyi
Labels: feat, enhancement, triaged

#226 release(versioning): update version to 1.3.0
  pyproject.toml
Labels: release, triaged

#227 ci(workflow): tmp bring back publish job
  .github/workflows/publish.yml
  poetry.lock
  pyproject.toml
Labels: triaged, workflow

#212 fix(cimpl): update Message.headers arg-type
  confluent_kafka-stubs/cimpl.pyi
Labels: enhancement, triaged, confluent-kafka-v2.3, confluent-kafka-v2.4, confluent-kafka-v2.5, confluent-kafka-v2.6

#229 release(versioning): update version to 1.3.1
  pyproject.toml
Labels: release, triaged
