Repository benbenbang/types-confluent-kafka, pull requests merged in 2024-07, with the labels that each got.

#194 fix(cimpl): typo in cimpl stub
  confluent_kafka-stubs/cimpl.pyi
Labels: fix

#195 release(versioning): update version to 1.2.2
  pyproject.toml
Labels: release

#205 fix(admin): update return value with only None in the Futures
  confluent_kafka-stubs/admin/__init__.pyi
Labels: v2.2.x
