Repository benbenbang/types-confluent-kafka, pull requests merged in 2025-07, with the labels that each got.

#240 fix: add callback as original parameter for produce alias on_delivery
  confluent_kafka-stubs/avro/__init__.pyi
  confluent_kafka-stubs/cimpl.pyi
  confluent_kafka-stubs/serializing_producer.pyi
Labels: enhancement, triaged

#246 ci: remove cross org r-workflows
  .github/workflows/publish.yml
  .github/workflows/publishrc.yml
  .github/workflows/pull-request.yml
  .github/workflows/versioning.yml
Labels: triaged, workflow

#248 ci(workflow): update default py version & add missing linting packages
  .github/workflows/main.yml
  pyproject.toml
  uv.lock
Labels: triaged, workflow

#250 ci(workflow): suppress instrumented tooling from uv to build pkg
  .github/workflows/publish.yml
  .github/workflows/publishrc.yml
  .github/workflows/release-cp.yml
Labels: triaged

#253 release(versioning): update version to 1.3.4
  pyproject.toml
Labels: release, triaged

#255 ci(workflows): split pull requests workflow triggers
  .github/workflows/pull-request-target.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .github/workflows/versioning.yml
  .pre-commit-config.yaml
Labels: triaged, workflow

#256 ci(workflows): drop reusable pre-commit
  .github/workflows/pull-request-target.yml
  .github/workflows/pull-request.yml
Labels: triaged, workflow

#254 refactor(avro): add missing default value for CachedSchemaRegistryClient
  confluent_kafka-stubs/avro/cached_schema_registry_client.pyi
Labels: enhancement, triaged

#257 revert(workflows): drop reusable workflows
  .github/workflows/release.yml
  .github/workflows/versioning.yml
Labels: triaged

#261 build(uv): upgrade self to 1.3.5
  uv.lock
Labels: triaged

#264 fix(workflows): remove non exist inputs
  .github/workflows/release.yml
Labels: triaged, workflow

#266 build(config): update project metadata
  pyproject.toml
Labels: triaged

#267 refactor: update python version constraint
  pyproject.toml
  uv.lock
Labels: enhancement, triaged

#273 ci(workflows): enhance release branch
  .github/workflows/release-cp.yml
Labels: triaged
